<?xml version="1.0"?>
<config>
    <modules>
        <Softprodigy_MagtrackApi>
            <version>1.0.0</version>
        </Softprodigy_MagtrackApi>
    </modules>
    <frontend>
        <routers>
            <magtrackapi>
                <use>standard</use>
                <args>
                    <module>Softprodigy_MagtrackApi</module>
                    <frontName>magtrack</frontName>
                </args>
            </magtrackapi>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Softprodigy_MagtrackApi_Model_Observer>
                        <type>singleton</type>
                        <class>Softprodigy_MagtrackApi_Model_Observer</class>
                        <method>pushNotification</method>
                    </Softprodigy_MagtrackApi_Model_Observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <global>
        <models>
            <softprodigy_magtrackapi>
                <class>Softprodigy_MagtrackApi_Model</class>
                <resourceModel>softprodigy_magtrackapi_mysql4</resourceModel>
            </softprodigy_magtrackapi>
            <softprodigy_magtrackapi_mysql4>
                <class>Softprodigy_MagtrackApi_Model_Mysql4</class>
                <entities>
                    <bestsellers_daily>
                        <table>softprodigy_magtrackapi_bestsellers_aggregated_daily</table>
                    </bestsellers_daily>
                    <bestsellers_monthly>
                        <table>softprodigy_magtrackapi_bestsellers_aggregated_monthly</table>
                    </bestsellers_monthly>
                    <bestsellers_yearly>
                        <table>softprodigy_magtrackapi_bestsellers_aggregated_yearly</table>
                    </bestsellers_yearly>
                    <bestsellers_orderchange>
                        <table>softprodigy_magtrackapi_bestsellers_order_change</table>
                    </bestsellers_orderchange>
                    <push_notifications>
                        <table>softprodigy_magtrackapi_push_notifications</table>
                    </push_notifications>
                </entities>
            </softprodigy_magtrackapi_mysql4>
            <!--rewrite model-->
            <sales>
                <rewrite>
                    <order>Softprodigy_MagtrackApi_Model_Bestsellers_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <softprodigy_magtrackapi_setup>
                <setup>
                    <module>Softprodigy_MagtrackApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </softprodigy_magtrackapi_setup>
            <softprodigy_magtrackapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </softprodigy_magtrackapi_write>
            <softprodigy_magtrackapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </softprodigy_magtrackapi_read>
        </resources>
        <blocks>
            <softprodigy_magtrackapi>
                <class>Softprodigy_MagtrackApi_Block</class>
            </softprodigy_magtrackapi>
        </blocks>
        <helpers>
            <softprodigy_magtrackapi>
                <class>Softprodigy_MagtrackApi_Helper</class>
            </softprodigy_magtrackapi>
        </helpers>
    </global>
</config>
