<?xml version="1.0"?>
<config>
    <modules>
        <Softprodigy_Bulkgenerate>
            <version>1.1.0</version>
        </Softprodigy_Bulkgenerate>
    </modules>
    <frontend>
        <translate>
            <modules>
                <bulkgenerate>
                    <files>
                        <default>Softprodigy_Bulkgenerate.csv</default>
                    </files>
                </bulkgenerate>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Softprodigy_Bulkgenerate.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <frontend> 
        <routers>
            <bulkgenerate>
                <use>standard</use>
                <args>
                    <module>Softprodigy_Bulkgenerate</module>
                    <frontName>bulkgenerate</frontName>
                </args>
            </bulkgenerate>
        </routers>
        <layout>
            <updates>
                <softprodigy_bulkgenerate>
                    <file>bulkgenerate.xml</file>
                </softprodigy_bulkgenerate>
            </updates>
        </layout>
    </frontend>   
    <global>
        <models>
            <bulkgenerate>
                <class>Softprodigy_Bulkgenerate_Model</class>
                <resourceModel>bulkgenerate_mysql4</resourceModel>
            </bulkgenerate>
            <bulkgenerate_mysql4>
                <class>Softprodigy_Bulkgenerate_Model_Mysql4</class>
                <entities>
                    <paymentoption>
                        <table>bulkgenerate_payment_options</table>
                    </paymentoption>
                </entities>
            </bulkgenerate_mysql4>
        </models>
        <resources>
            <bulkgenerate_setup>
                <setup>
                    <module>Softprodigy_Bulkgenerate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bulkgenerate_setup>
            <bulkgenerate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bulkgenerate_write>
            <bulkgenerate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bulkgenerate_read>
        </resources>
        <blocks>
            <bulkgenerate>
                <class>Softprodigy_Bulkgenerate_Block</class>
            </bulkgenerate>
        </blocks>
        <helpers>
            <bulkgenerate>
                <class>Softprodigy_Bulkgenerate_Helper</class>
            </bulkgenerate>
        </helpers>
           
    </global>
    <admin>
        <routers>
            <bulkgenerate>
                <use>admin</use>
                <args>
                    <module>Softprodigy_Bulkgenerate</module>
                    <frontName>bulkgenerate</frontName>
                </args>
            </bulkgenerate>
        </routers>
    </admin>
    <adminhtml> 
        <layout>
            <updates>
                <bulkgenerate>
                    <file>bulkgenerate.xml</file>
                </bulkgenerate>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <bulkgenerate_massbutton>
                        <type>singleton</type>
                        <class>Softprodigy_Bulkgenerate_Model_Observer</class>
                        <method>addbutton</method>
                    </bulkgenerate_massbutton>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <bulkgenerate>
                            <title>Bulkgenerate</title>
                        </bulkgenerate>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bulkgenerate translate="title" module="bulkgenerate">
                                            <title>bulkgenerate</title>
                                        </bulkgenerate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
