<?xml version="1.0"?>
<config>
    <modules>
        <Softprodigy_Orderexport>
            <version>1.0.10</version>
        </Softprodigy_Orderexport>
    </modules>
    <global>
        <blocks>
            <orderexport>
                <class>Softprodigy_Orderexport_Block</class>
            </orderexport>
        </blocks>
        <helpers>
            <orderexport>
                <class>Softprodigy_Orderexport_Helper</class>
            </orderexport>
        </helpers>
        <models>
            <orderexport>
                <class>Softprodigy_Orderexport_Model</class>
                <resourceModel>orderexport_mysql4</resourceModel>
            </orderexport>
            <orderexport_mysql4>
                <class>Softprodigy_Orderexport_Model_Mysql4</class>
                <entities>
                </entities>
            </orderexport_mysql4>
        </models>
        <resources>
            <orderexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderexport_write>
            <orderexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderexport_read>
            <orderexport_setup>
                <setup>
                    <module>Softprodigy_Orderexport</module>
                </setup>
            </orderexport_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <orderexport>
                <use>admin</use>
                <args>
                    <module>Softprodigy_Orderexport</module>
                    <frontName>orderexport</frontName>
                </args>
            </orderexport>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <orderexport_core_block_abstract_prepare_layout_before>
                        <class>orderexport/observer</class>
                        <method>addMassAction</method>
                    </orderexport_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>
